@import "../../../styles/styling-utils";

.Login {
  .columns {
    height: 100vh;
  }

  .box {
    padding: 4rem;
  }

  .message {
    background: none;
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  .logo {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 8rem;
    }
  }
}