@import "../../../styles/styling-utils";
@import "../../../styles/global";

// SECTIONS
.NewOrder section.parent {
  margin-bottom: 5rem;
}

// GENERAL
.NewOrder {
  .add-package-form {
    display: flex;

    .Field {
      margin: 0;
      flex-grow: 3;
    }
  }

  .package-btn-wrapper {
    @include flex-column-center;
    flex-grow: 1;
    margin-left: 2rem;
  }

  .action-btn-aligner {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }

  #packages {
    margin-top: 4rem;
  }

  progress.progress {
    background-image: linear-gradient(to right, $theme 30%, $lightgray 30%);
    margin-bottom: 3rem;
  }
}

// PACKAGES LIST
.NewOrder {

  .packages-list {
    margin-top: 2rem;
  }

  .package {
    font-size: 1.4rem;
    margin: 1rem;

    .icon-aligner {
      display: flex;
      flex-direction: row;
    }

    .package-info {
      @include ellipsis;
      flex-grow: 2;
      margin-bottom: 0.2em;
      padding: 0 .5rem;
    }

    .package-text.assigned {
      margin-left: 1rem;
      text-decoration: line-through;
    }

    .package-waypoint-tag {
      background: $theme;
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    .Icon {
      flex-grow: 1;
      margin: 0;

      path {
        fill: $theme;
      }
    }
  }

  .package:focus,
  .package:hover {
    border-bottom: 0.2rem solid $theme;
  }
}

// BUTTONS
.NewOrder {
  .action-btn:hover,
  .action-btn:focus {
    background: $theme;
    color: white;
  }

  #calculate-estimate-button {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
  }
}


