@import "../../../../styles/styling-utils";

.Section {
  margin: 1rem 0;
  .title {
    border-bottom: 3px $theme solid;
    color: $charcoal;
    font-size: 2.5rem;
    padding-bottom: 0.2em;
    width: 100%;
  }
  .sub-title {
    border-bottom: 2px $theme dotted;
    color: $charcoal;
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2em;
    width: 100%;
  }
}