@import "../../../../styles/styling-utils";
@import "../../../../styles/global";

.PickupWaypoint {
  @include flex-column-center;

  textarea {
    border: 0.15rem solid $theme;
    color: $charcoal;
    height: 12rem;
    font-size: 1.4rem;
    padding: 0.75rem;
    resize: none;
    width: 100%;
  }
}
