@import "../../../node_modules/bulma";
@import "~@fortawesome/fontawesome-free/css/all.css";

// Set font-size for html to be 62.5% of 16px,
// which is 10px, for responsive design
html {
  font-size: 62.5%;
}

// GLOBAL STYLES
// --------------------
.App {
  progress { // Make progress bars skinnier
    border-radius: 0;
    height: .4rem;
    margin-top: 2rem;
  }
}
