@import "../../../../../styles/styling-utils";

.Submit {
  margin-top: 2rem;

  .control {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  button {
    border: none;
    background: $theme;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    justify-content: center;
    padding: 1.75rem;

    &:hover, &:focus {
      background: darken($theme, 10);
      color: white;
    }
  }
}