@import "../../../../styles/styling-utils";

.Container {
  &.is-top-padded {
    padding-top: 10rem;
  }
}


.Container {
  .title {
    color: $charcoal;
    font-size: 4.5rem;
    font-weight: bold;
  }
}
