@import "../../../../styles/styling-utils";

.Navbar {
  align-content: center;
  background: $theme;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  padding: 4rem 1rem;
  position: fixed;
  top: 0;
  width: 7rem;
}

.Navbar {

  .logo {
    @include flex-row-center;
    margin-bottom: 2rem;

    img {
      width: 4.5rem;
    }
  }

  .logout {
    @include flex-row-center;
    bottom: 4rem;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
  }
}