@import "../../../../styles/styling-utils";

.NewOrderWaypoint {
  margin-top: 4rem;
}

// GENERAL
.NewOrderWaypoint section{
  margin-bottom: 2rem;
}

// GENERAL
.NewOrderWaypoint {
  label {
    font-size: 1.2rem;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 0;

    .title {
      color: $charcoal;
      font-size: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .content.closed {
    display: none;
  }

  .Form {
    display: flex;
    flex-direction: column;
  }

  .notes {
    @include flex-column-center;

    textarea {
      border: 0.15rem solid $theme;
      color: $charcoal;
      height: 10rem;
      font-size: 1.4rem;
      padding: 0.75rem;
      resize: none;
    }
  }

}

// ICON
.NewOrderWaypoint .Icon {
  cursor: pointer;
  margin: 0;

  svg.icon {
    path {
      fill: $theme;
    }
  }
}

// PACKAGES
.NewOrderWaypoint {
  .assign-packages {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
  }

  .created-packages {
    @include flex-column-center;
    @include ellipsis;
    flex-grow: .6;
    margin-left: 0.1rem;
  }

  .assign-package-btn {
    flex-grow: 1;
    margin-left: 2rem;
  }

  .assigned-package {
    font-size: 1.3rem;
    padding-bottom: 0.2rem;
    margin: 1rem 0;

    .Icon {
      flex-grow: 1;
      margin: 0;
    }

    .Icon path {
      fill: $theme;
    }
  }

  .icon-aligner {
    display: flex;
    flex-direction: row;
  }

  .assigned-package:focus,
  .assigned-package:hover {
    border-bottom: 0.2rem solid $theme;
  }

  .assigned-package-text {
    display: block;
    flex-grow: 5;
  }
}
