@import "../../../../styles/styling-utils";

.Icon {
  cursor: pointer;
  margin: 2.5rem 0;
}

.Icon {
  svg.icon {
    path {
      @include flex-column-center;
      fill: white;
    }
  }

  .icon-container {
    height: 100%;
    @include flex-row-center;
  }

  .title {
    @include flex-row-center;
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
