@import "../../../../styles/styling-utils";

form.Form {
  .message {
    background: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    &.error {
      color: $error;
    }
    &.success {
      color: $success;
    }
  }
}
