@import "styling-utils";

.active-label {
  border-bottom: 1em;
  color: $theme;
  font-size: 1.2rem;
  font-weight: bold;
}

.action-btn {
  background: white;
  border: 0.2rem solid $theme;
  color: $theme;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
