// COLORS
// ---------------
$theme: #21cfdc;
$lightgray: #dbdbdb;
$charcoal: rgba(77, 69, 77, 0.9);
$error: red;
$success: #8bdb82;

// MIXINS
// ---------------
@mixin flex-column-center {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-center {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin custom-primary-button {
  background: $theme;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}

@mixin link-button {
  background: none;
  border: none;
  color: $theme;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
